body{
	background: #fff;
	font-family: arial, sans-serif;
	padding-bottom: 50px;
}
h3,
h4{
	text-align: center;
}
div:not(.tb-container){
	font-size: 11px;
	font-weight: bold;
	text-align: center;
}
div{
	padding: 5px 0;
}
.sc-green{
	background-color: #3d9b35;
}
.sc-blue{
	background-color: #0096db;
}
.sc-light-gray{
	background-color: #f6f6f6;
}
.sc-med-gray{
	background-color: #e3e3e3;
}
.dark-gray{
	color:#fff;
	background-color: #333;
}
.max-width-1250{
	max-width: 1250px;
	margin:0 auto;
}
